@media(min-width:767px) {
    .navbar {
        padding: 20px 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

    .top-nav-collapse {
        padding: 8px 0;
        background: rgb(0, 0, 0);
        -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.35);
    }

    .top-nav-collapse ul.dropdown-menu.apps, .top-nav-collapse ul.dropdown-menu.apps.blue {
        background: rgba(0, 0, 0, 0.87);
    }

}
