/* Global Styles */

html,
body {
    background-color: #E2E2E2;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

a {
    cursor: pointer;
}

a:hover {
    text-decoration: none
}
a:active {
    text-decoration: none
}

:focus {
  outline:none!important;
  box-shadow:none!important;
}
::selection {
    background: #666666;
    color: #ffffff;
}
::-moz-selection {
    background: #ffffff;
}
::-webkit-scrollbar {
    width: 10px;
    height: 40px;
}
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #ffffff
}
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #333333
}

.list-group::-moz-selection {
    background: rgba(160, 160, 160, 0.44);
}
.list-group::-webkit-scrollbar {
    width: 10px;
}
.list-group::-webkit-scrollbar-track {
    border-radius: 0;
    background: rgba(160, 160, 160, 0.44)
}
.list-group::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #333333
}


@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/icons/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/icons/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/icons/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/icons/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/icons/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/icons/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.symbol, a.symbol:before {
    font-family: 'Mono Social Icons Font';
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

/*a.symbol:before {
    content: attr(title);
    margin-right: 0.3em;
    font-size: 130%;
}*/

a.symbol {
    /* background: #484848; */
    /* padding: 7px 5px 3px 5px; */
    color: #bbbbbb;
    text-decoration: none;
    font-size: 48px;
    float: left;
        margin: 0 10px;
}


.nopad {
    padding: 0;
}



/*NAV COLLAPSE*/
.navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 21px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background: #FFF;
}







/* Nav Site */
.navbar-inverse {
    background-color: transparent;
    border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
}


.navbar-nav>li {
    margin: 0 37px;
}
.navbar-nav>li.dropdown {
    margin: 0 0 0 37px;
}
.navbar-nav>li.dropdown a {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 8px;
    padding: 11px 14px 11px 18px;
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    margin-top: 4px;
}
ul.nav.navbar-nav.navbar-right a {
    color: #FFF;
    font-size: 16px;
    font-weight: 300;
}
ul.nav.navbar-nav.navbar-right a:hover {
    color: #c1c1c1;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0px;
    vertical-align: middle;
    border-top: 6px dashed;
    border-top: 4px solid\9;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    margin-left: 8px;
}

.dropdown-menu {
    width: 100%;
    border: transparent!important;
}


/*Menu dropdown Apps*/
ul.dropdown-menu.apps {
    z-index: -2;
    margin: -10000px 0 0;
    border-radius: 8px;
    padding-bottom: 0;
    background: rgba(255, 255, 255, 0.16);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.12);
    opacity: 0;
    -webkit-transition: opacity .5s ease, top .4s ease;
    -o-transition: opacity .5s ease, top .4s ease;
    transition: opacity .5s ease, top .4s ease;
}
ul.dropdown-menu.apps li a {
    border-radius: 0;
    margin-top:0; 
    background: transparent;
    box-shadow:none!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow:none!important;
}
ul.dropdown-menu.apps li a i {
    margin: 0 5px 0 0;
    font-size: 19px;
}

ul.dropdown-menu.apps li:first-child a {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
ul.dropdown-menu.apps li:last-child a {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

ul.dropdown-menu.apps li a:hover {
    color: #ffffff!important;
    background: rgba(255, 255, 255, 0.24);
    -webkit-transition: background 1s ease!important;
    -moz-transition: background 1s ease!important;
    -ms-transition: background 1s ease!important;
    -o-transition: background 1s ease!important;
    transition: background 1s ease!important;
}
ul.dropdown-menu.apps.blue {
    background: rgba(78, 132, 171, 0.84);
}

.dropdown-menu.apps{
    display: block;
}
.open>.dropdown-menu.apps {
    padding-top: 0;
    opacity: 1;
    z-index: 1000;
    margin-top: 5px;
}








/*Logo*/
.navbar-brand {
    float: left;
    height: auto;
    padding: 0;
    line-height: normal;
    margin-left: 0!important;
    width: 55px
}
.navbar-brand>img {
    width: 100%;
}


/* Home Page Carousel */
header.carousel {
    height: 455px;
}

header.carousel .item,
header.carousel .item.active,
header.carousel .carousel-inner {
    height: 100%;
}

header.carousel .fill {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
}
.container.slider {
    position: relative;
    height: 100%;
}
.carousel-caption {
    right: 0;
    left: 0;
    padding-bottom: 0;
    text-align: left;
    padding: 45px 15px 0 15px;
    top: 20%;
    bottom: 0;
}
.carousel-indicators.top {
    width: 1030px;
    margin-left: 0;
    text-align: left;
    left: 0;
    right: 0;
    margin: 0 auto;
}



/*Elements Slider*/
.container.slider .online {
    margin-top: 25px;
}
.container.slider h2.program {
    font-size: 52px;
    font-weight: 700;
    text-shadow:none;
    margin-top: 10px
}
.container.slider span.date {
    font-size: 18px;
    font-weight: 300;
    text-shadow:none;
}
.container.slider span.date a {
    color: #FFF;
    text-decoration: underline;
}
.container.slider .persons {
    position: absolute;
    right: 0;
    z-index: 9;
    bottom: 0;
}

/*Efect Slider
.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
    opacity:0;
}
.carousel.carousel-fade .active.item {
    opacity:1;
}
.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}
.carousel.carousel-fade .carousel-control {
    z-index: 3;
}
*/




/*Efect Slide Fade*/
.carousel.carousel-fade .item {
    -webkit-transition: opacity 0.1s ease-in-out;
    -moz-transition: opacity 0.1s ease-in-out;
    -ms-transition: opacity 0.1s ease-in-out;
    -o-transition: opacity 0.1s ease-in-out;
    transition: opacity 0.1s ease-in-out;
    opacity:0;
}

.carousel.carousel-fade .active.item {
    opacity:1;
}

.carousel.carousel-fade .active.left,
.carousel.carousel-fade .active.right {
    left: 0;
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}

.carousel.carousel-fade .next,
.carousel.carousel-fade .prev {
    left: 0;
    z-index: 1;
}

.carousel.carousel-fade .carousel-control {
    z-index: 3;
}




.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #fff;
}


















/*------------------------------- 404 Page Styles -------------------------------*/
.error-404 {
    font-size: 100px;
}

/* Pricing Page Styles */

.price {
    display: block;
    font-size: 50px;
    line-height: 50px;
}

.price sup {
    top: -20px;
    left: 2px;
    font-size: 20px;
}

.period {
    display: block;
    font-style: italic;
}





/* Texts Styeles*/
h1.page-header  {
    padding-bottom: 9px;
    margin: 0 0 20px 0;
    border-bottom: none;
    font-size: 25px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 600;
}
h1.page-header small { 
    font-size: 23px;
    color: #A2A2A2;
    padding-left: 15px;
}









/************************************************ /// HOME /// *********************************************/

/*------------------------------- Section News -------------------------------*/
section#news {
    background: #FFFFFF;
    padding: 40px 0 25px 0;
}
.news-block {
    margin-bottom: 25px;
}


.news-block figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
}
.news-block-info {
    background: rgba(0, 0, 0, 0.72);
    box-sizing: border-box;
    height: auto;
    padding: 21px 20px;
    position: absolute;
    width: 100%;
    height: auto;
    text-align: left;
    z-index: 3;
    bottom: 0;
}

.news-block figure a {
    overflow: hidden;
}

.news-block figure img {
    position: relative;
    display: block;
    width: 100%;
}
/*.news-block figure:hover {
    opacity: 0.8;
    -webkit-transition: opacity 0.7s;
    transition: opacity 0.7s;
}*/
.news-block figure .box-img {
    overflow: hidden;
}

/*News 1*/
.ns_title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 10px 0;
    float: left;
    line-height: 24px;
}
a.ns_type {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 18px;
    margin: 0;
    float: left;
}

a.nSmall_type {
    color: #000000;
    font-size: 15px;
    margin: 15px 0;
    float: left;
}
a.nSmall_type:hover {
    color: #333;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}



/*News 2*/
.newsBottom-block-info {
    box-sizing: border-box;
    height: auto;
    padding: 10px 0;
    float: left;
    width: 100%;
    min-height: 115px;
    text-align: left;
}
h3.nsBottom_title {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin: 0;
}




/*Carousel News*/
.carousel.news {
    margin-bottom: 0;
    padding: 0 0 40px 0;
}
.carousel.news .carousel-inner {
    min-height: 340px; 
}

/* The controlsy */
.carousel.news .carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 90px;
}
.carousel.news .carousel-control.right {
    right: -12px;
}
/* The indicators */
.carousel.news .carousel-indicators {
    right: 0;
    top: auto;
    bottom: 0;
    margin: 0;
    text-align: center;
    width: 100%;
    left: 0;
}
/* The colour of the indicators */
.carousel.news .carousel-indicators li {
    background: #a5a5a5;
}
.carousel.news .carousel-indicators li.active {
    background: #505050;
}




/*Other News*/
.othre-news h1 {
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding-bottom: 15px;
}
.othre-news h3 {
    color: #000000;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
}
.othre-news h3 a {
    color: #000000;
}
.othre-news hr {
    margin: 15px 0;
    border-top: 1px solid #b4b4b4;
}



.othre-news a.section_link {
    color: #000000;
    margin: 15px 0;
    display: inline-block;
}





/*------------------------------- Section Schedule -------------------------------*/
section#schedule {
    padding: 40px 0;
}

ul.schedule_list {
    overflow: hidden;
    padding: 0;
}
/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 0 2.8% 2.8% 0;
}

ul.schedule_list li.col:nth-child(3n+0){
    margin-right: 0;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF THREE  */
.span_1_of_3 { width: 31.46%; }




/*Block*/
.rm-block {
    margin-bottom: 30px;
    float: left;
}

.rm-block a.box_link {
    overflow: hidden;
    display: block;
}



.rm-block-info {
    background: #fff;
    box-sizing: border-box;
    height: auto;
    padding: 16px 24px;
    float: left;
    width: 100%;
    min-height: 115px;
    text-align: left;
}
.rm-block-title {
    color: #000;
    /* display: inline-block; */
    font-size: 19px;
    font-weight: 400;
    margin-top: 7px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
}
.rm-block-type {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 3px 0;
}
.rm-hour {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 3px 0;
}

.rm-link {
    color: #000;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 15px 0 0 0;
    display: block;
}

/*EFFECT IMAGE HOVER*/

figure.zoom-img {
    background: #ffffff;
}

figure.zoom-img .box-img{
    overflow: hidden;
    height: 50%;
} 

figure.zoom-img img {
    max-width: none;
    -webkit-transition: opacity 1s, -webkit-transform 1s;
    transition: opacity 1s, transform 1s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

figure.effect-julia figcaption {
    text-align: left;
}

figure.zoom-img p:first-child {
    -webkit-transition-delay: 0.15s;
    transition-delay: 0.15s;
}

figure.zoom-img p:nth-of-type(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.zoom-img p:nth-of-type(3) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.zoom-img:hover p:first-child {
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
}

figure.zoom-img:hover p:nth-of-type(2) {
    -webkit-transition-delay: 0.05s;
    transition-delay: 0.05s;
}

figure.zoom-img:hover p:nth-of-type(3) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

figure.zoom-img:hover img {
    /*opacity: 0.4;*/
    -webkit-transform: scale3d(1.1,1.1,1);
    transform: scale3d(1.1,1.1,1);
}

figure.zoom-img:hover p {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


/* Common style */
.schedule_list figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 0;
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: auto;
    text-align: center;
    /*cursor: pointer;*/
}
.schedule_list figure:hover {
    box-shadow: 0px 2px 7px #CCC;
    -webkit-box-shadow: 0px 2px 7px #CCC;
    -moz-box-shadow: 0px 2px 7px #CCC;
    box-shadow: 0px 2px 7px #CCC;
    text-decoration: none;
}
.schedule_list figure img {
    position: relative;
    display: block;
    width: 100%;
    /*opacity: 0.8;*/
}

.schedule_list figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.schedule_list figure figcaption::before,
.schedule_list figure figcaption::after {
    pointer-events: none;
}

.schedule_list figure figcaption,
.schedule_list figure figcaption > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.schedule_list figure figcaption > a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}




/*------------------------------- Section Tweets -------------------------------*/
section#tweets {
    background: #CFCFCF;
    padding: 40px 0;
}

.tw-block {
    margin-bottom: 0;
}

.tw-block .box_tweet {
    -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.12);
    display: block;
    overflow: hidden;
}

.tw-block figure {
    position: relative;
    width: 100%;
    max-height: 165px;
    height: 165px;
}
.bg-imgTw {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #00adef;
}

.tw-block figure img.imageTwBg {
    position: relative;
    display: block;
    /* height: 100%; */
    width: 100%;
    /* opacity: 0.8; */
}
.tw-block figure img.icon-tw {
    display: block;
    margin: 38px auto;
}

.tw-block .tw-block-info {
    background: #fff;
    box-sizing: border-box;
    height: auto;
    padding:40px 20px 23px 20px;
    float: left;
    width: 100%;
    text-align: left;
}
.tw-block .tw-block-title {
    color: #333;
    font-size: 17px;
    font-weight: 300;
    margin: 0 0 10px 0;
    float: left;
    line-height: 23px;
    min-height: 70px;
    width: 100%;
}
.tw-block .tw-block-title span {
    font-weight: 500
}
span.tw-user {
    float: left;
    font-size: 14px;
    font-weight: 500;
}
span.tw-user a {
    color: #000
}
span.tw-user a:hover {
    color: #666666;
    -webkit-transition: color 1s ease;
    -moz-transition: color 1s ease;
    -ms-transition: color 1s ease;
    -o-transition: color 1s ease;
    transition: color 1s ease;
}
span.tw-time {
    float: right;
    font-size: 14px;
}





/*Image User Tw*/
.twUser-image {
    position: absolute;
    bottom: -30px;
    left: 20px;
    width: 65px;
    height: 65px;
    overflow: hidden;
    border-radius: 50%;
    z-index: 3;
    background: rgba(255, 255, 255, 0.64);
    /*border: solid 1px #dbdbdb;*/
}
.twUser-image img {
    /* width: 100%; */
    height: 100%;
    background: #FFF;
    display: block;
    margin: 0 auto;
}




/*Button Load More*/
.btn.load_more {
    width: 150px;
    border: solid 1px #A0A0A0;
    padding: 11px 0 9px 0;
    border-radius: 6px;
    color: #949494;
    display: block;
    margin: 20px auto 0 auto;
}

.btn.load_more:hover {
    color: #737373;
    border: solid 1px #868686;
}



/*------------------------------- Section Podcast -------------------------------*/
section#podcast {
    padding: 70px 0 0 0;
    background: url(../assets/bg_podcast.jpg) top center no-repeat #263137;
    min-height: 490px;
}


.box__iframe {
    background: #FFF;
    padding: 20px;
    border-radius: 20px;
    min-height: 270px;
    box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.34);
    -webkit-box-shadow: 0 4px 4px 0px rgba(0, 0, 0, 0.34);
}

.txt__podcast {
    color: #FFF;
}

.txt__podcast h1 {
    font-size: 28px;
    font-weight: 500;
    padding: 20px 90px;
    line-height: 34px;
}

.invox__link {
    padding: 20px 90px;
    overflow: hidden;
}
.invox__link img {
    float: left;
}
.txt__podcast h2 {
    font-size: 19px;
    font-weight: 300;
    float: left;
    width: 225px;
    margin: 0;
    padding: 10px 0 10px 16px;
    line-height: 24px;
}





/*------------------------------- Section Social -------------------------------*/
#social {
    padding: 10px 0 65px 0;
    background:rgba(0, 0, 0, 0.56);
    margin-top: 75px;
}
#social h1 {
    font-size: 16px;
    color: #e2e2e2;
    font-weight: 300;
}
#social h2 {
    font-size: 13px;
    width: 100%;
    float: left;
    margin: 9px 0;
    color: #e2e2e2;
    font-weight: 300;
}
.icon_store {
    float: left;
    margin-right: 10px;
}
.icon_store a {
    float: left;
    overflow: hidden;
}
.icon_tunein {
}
.icons_social {
    height: 130px;
    vertical-align: middle;
    display: table-cell;
    margin: auto auto;
    width: 100%;
}
.icons_social a {
    margin: 0 25px 0 0;
}
.icons_social a:hover {
    color:#e4e4e4
}






















/************************************************ /// NEWS /// *********************************************/
header.news-hdr {
    background: url(../assets/header_news.jpg);
    height: 83px;
}

section#list-news {
    background: #FFFFFF;
    padding: 25px 0;
}
.breadcrumb {
    background: transparent;
    padding: 8px 0;
}
.breadcrumb>li {
    font-size: 15px;
    font-weight: 500;
}
.breadcrumb>li a {
    color: #616161;
}
.breadcrumb>.active {
    color: #151515;
}


section#news hr {
    margin-top: 60px;
    margin-bottom: 60px;
    border: 0;
    border-top: 1px solid #d2d2d2;
}



/*Titles*/
h2 span.title-new {
    font-size: 41px;
    color: #000;
    margin: 0 20px 0 0;
    display: inline-block;
}
h2 span.title-new a {
    color: #000;
}
h2 span.title-new a:hover {
    text-decoration: none;
}

.media-atr {
    margin: 20px 0 30px 0;
    display: inline-block;
}
/*Autor Image*/
.media-atr .box-autor {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.media-atr .box-autor img {
    width: 50px;
}

.media-body h4 {
    margin: 5px 0 0 0;
}
.media-body h5 {
    margin: 5px 0 0 0;
}
.media-body h5 a {
    color: #000;
}

figure a.img-link-note {
    display: block;
    margin-bottom: 30px;
}


/*Tags*/
.tags {
    margin: 25px 0 35px 0;
}
.tags p {
    display: inline;
    font-weight: 500;
    font-size: 16px
}
.tags ul {
    margin: 0 0 35px 0;
    padding: 0;
    display: inline;
}
.tags ul li {
    list-style: none;
    display: inline;
    padding: 0 5px;
}
.tags ul li a {
    color: #1899ff;
    font-size: 16px
}


/*** ColRight More News ***/
.col-more_news h2 {
    margin: 8px 0 30px 0;
    font-size: 18px;  
}
.news.well {
    border: none;
    background: #dadada;
    padding: 25px 35px 35px 35px;
    border-radius: 0;
    box-shadow: none;
}
.news.well ul {
    padding: 0;
    margin:0;
}
.news.well ul li {
    list-style: none;
    border-bottom: solid 1px #aeaeae;
    padding: 20px 0;
}
.news.well ul li:first-child {
    padding: 0 0 20px 0;
}
.news.well ul li a {
    margin: 0;
    color: #000;
    display: block;
}
.news.well ul li a h4 {
    font-size: 16px;
}








/******************************************* /// PROGRAMMING /// **************************************/
section#programming {
    padding: 45px 0;
    background: #FFF;
}



/*List Programs*/
h1.more-title {
    font-size: 18px;
    margin: 0 0 25px 0;
    font-weight: 600
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
    overflow-y: scroll;
    max-height: 625px;
}
.list-group ul.media-prgm {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.list-group ul.media-prgm li {
    list-style: none;
    float: left;
    margin: 0 0 15px 0;
    padding: 0;
}
.list-group ul.media-prgm li a {
    overflow: hidden;
    display: block;
    padding: 5px 0 5px 5px;
    color: #313131
}

.list-group ul.media-prgm li a:hover, .list-group ul.media-prgm li a.active {
    background: #eaeaea;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}


.list-group h4 {
    font-size: 16px;
}
.list-group h5 a {
    color: #333;
    font-size: 13px;
}


/*Program Image*/
.media-prgm .box-autor {
    overflow: hidden;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}
.media-prgm .box-autor img {
    width: 50px;
}

.media-body h4 {
    margin: 5px 0 0 0;
}
.media-body h5 {
    margin: 5px 0 0 0;
}
.list-group-item {
    background: transparent;
}



/*Col Right*/
section#programming .colRight {
    padding: 0 25px;
}
.colRight h1 {
    font-size: 18px;
    margin-bottom: 30px;
}


.txt {
    margin-bottom: 40px;
}
.txt h2 {
    margin-top: 0;
    font-size: 40px;
    font-weight: 600;  
    line-height: 36px;
}
.txt h3 {
    margin: 30px 0;
    font-size: 27px;
    padding-right: 80px;
}
.txt h5 {
    font-size: 19px;
    display: block; 
    font-weight: 600
}
.txt h5 small {
    display: block; 
    line-height: 25px;
}


/*Condutores*/
.media-broadcasters {
    margin-bottom: 30px;
}
.media-broadcasters .box-autor {
    overflow: hidden;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
}
.media-broadcasters .box-autor img {
    width: 120px;
}






/******************************************* /// FOOTER > STREAMING /// **************************************/
section.footer {
    background: #303030;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 999999;
}
footer {
    margin: 0;
}


footer .logo {
    float: left;
    width: 45px;
    padding: 7px 0;
}
footer .logo img {
    width: 100%;
}
footer .player {
    float: left;
}
footer .player audio {
    width: 785px;
    margin: 15px 20px 0 20px;
}
footer .btn_tw {
    float: left;
    margin-right: 10px 
}
footer .btn_tw a {
    margin: 11px 0;
}



/*Button Twitter**/
.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 13px 0 0 0;
    padding: 9px 19px;
    font-size: 15px;
    background-color: #00adef;
    color: #FFF;
    font-weight: 400;
    border: none;
}
.button-twt {
    background-color: #34bef3;
    padding: 10px 15px 9px 11px;
    text-align: center;
    border-radius: 100%!important;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 13px 0 0 0;
}
.button-twt i {
    font-size: 20px;
}

/*Button Comment*/
a.comments {
    margin-top: 12px;
    padding: 7px 15px 9px 12px;
    text-align: center;
    border-radius: 100%!important;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 11px 0 0 0;
    float: left;
    background-color: #2e7dc9;
    border: none;
}
a.comments:hover {
    background-color: #4498e8;
}
a.comments:active, a.comments:focus {
    background-color: #4498e8;
    border: none;
}
a.comments i {
    color: #FFF;
    font-size: 18px;
    padding-top: 3px;
}

/*Modal*/
#appsModal .modal-dialog {
    margin: 120px auto;
}
#appsModal .modal-header {
    padding: 0;
    border-bottom: none;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000;
    z-index: 1;
    opacity: 9;
}
#appsModal h1 {
    font-size: 24px;
    margin-top: 0;
    line-height: 30px;
    font-weight: 700;
}
#appsModal h2 {
    font-size: 18px;
    font-weight: 300;
        margin-bottom: 30px;
}
#appsModal button.close {
    color: #d69d0d;
    opacity: 9;
    background: rgba(0, 0, 0, 0.05);
    width: 31px;
    height: 31px;
    border-radius: 100%;
    text-shadow: none;
    border: solid 1px #eebb18;
}

.box-txt-modal {
    height: 335px;
    vertical-align: middle;
    margin: auto 0;
    display: table-cell;
}
.box-txt-modal a.link-apps {
    overflow: hidden;
    float: left;
}
.box-txt-modal a.link-apps {
    overflow: hidden;
    float: left;
}







.button.border:hover, .button.border:active, .button.border:focus {
    background-color: #34bef3 !important;
    opacity: 0.9;
    color: #FFF;
    text-decoration: none
}
body:not(.device-touch) .button {
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}










/* Responsive Styles */
@media(max-width:1200px) {

/*NAV*/
    .navbar-nav>li {
        margin: 4px 25px;
    }
    .navbar-nav>li.dropdown {
        margin: 0 0 0 10px;
    }
    ul.nav.navbar-nav.navbar-right a {
        padding: 10px;
        font-size: 15px;
    }


/*Slider Top indicators*/
    .carousel-indicators.top {
        width: 940px;
    }

/*Section Podcast*/    
    .txt__podcast h1 {
        padding: 20px 15px!important;
    }
    .invox__link {
        padding: 20px 15px!important;
    }


/*Section Twitter*/    
    .owl-prev {
        left: -35px!important;
    }
    .owl-next {
        right: -35px!important;
    }

/*FOOTER*/    
    footer .player audio {
        width: 700px;
        margin: 15px 10px 0 10px;
    }

}





/* Responsive Styles */
@media(max-width:1024px) {
/*Section > Slider*/
    .container.slider .persons img{
        width: 100%;
    }

/*Section Twitter*/
    .tw-block figure {
        height: 165px;
    }

/*Section Podcast*/    
    .txt__podcast h1 {
        padding: 20px 15px!important;
    }
    .invox__link {
        padding: 20px 15px;
    }

}


@media(max-width:991px) {

/*NAV*/
    .navbar-nav>li {
        margin: 4px 0;
    }

    .customer-img,
    .img-related {
        margin-bottom: 30px;
    }

/*Slider Top indicators*/
    .carousel-indicators.top {
        width: 720px;
    }


/*Section News*/
    .carousel.news .carousel-inner {
        height: 100%;
    }


/*FOOTER*/    
    footer .player audio {
        width: 470px;
    }


}


/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 840px) {


/*Slider Top*/
    .carousel-caption {
        padding: 0 15px 0 15px;
    }
    .container.slider .online {
        margin-top: 0;
    }
    .container.slider .persons {
        max-width: 550px;
    }


/*Grid Schedule Home*/
    ul.schedule_list li.col.span_1_of_3 {
        width: 48.6%;
        margin: 0 0 2% 0;
        min-height: 330px;
    }
    ul.schedule_list li.col.span_1_of_3:nth-child(1n+0) {
        margin-left: 0;
    }
    ul.schedule_list li.col.span_1_of_3:nth-child(2n+0) {
        margin-left: 2.8%;
    }


/*** / TWITTER / ****/
    .owl-controls {
        position: relative!important;
    }
    .owl-prev {
        left: 0!important;
    }
    .owl-next {
        right: 0!important;
    }




}


@media(max-width:768px) {

    section#news, section#schedule, section#podcast {
        padding: 20px 0 0 0; 
    }
    section#tweets {
        padding: 20px 0 30px 0;
    }


/*NAV Collapse*/
    .navbar-nav {
        margin: 0;
        padding-bottom: 10px;
        padding-top: 15px;
    }
    nav.navbar.navbar-fixed-top {
        background: rgba(0, 0, 0, 0.68);
    }


/* Logo */
    .navbar-brand {
        padding: 15px 0 15px 5px;
    }



/* Slider */
    header.carousel .carousel {
        height: 70%;
    }
    .carousel-indicators.top {
        width: 100%;
        padding-left: 15px
    }
    .carousel.news {
        padding: 0 0 60px 0;
    }
    .carousel.news .carousel-indicators {
        bottom: 20px;
    }


/* Blocks */
    .rm-block {
        margin-bottom: 15px;
    }



/*** / NEWS / ****/
    header.news-hdr {
        height: 75px;
    }
    h2 span.title-new {
        font-size: 24px;
        margin: 0 20px 0 0;
    }
    .media-atr {
        margin: 5px 0 10px 0;
    }
    figure a.img-link-note {
        margin-bottom: 10px;
    }
    .tags {
        margin: 25px 0 20px 0;
    }


/*** / SCHEDULE / ****/
    .txt h3 {
        padding-right: 0;
        font-size: 24px;
        margin: 30px 0 20px 0;
    }

/*** / PODCAST / ****/
    .icons_social {
        height: 100px;
    }


/*FOOTER*/    
    footer .player audio {
        width: 490px;
    }
    footer .btn_tw span {
        display: none;
    }
    .btn_tw .button {
        padding: 8px 10px 5px 11px;
    }
    footer .button.border i {
        padding-right: 0;
        font-size: 21px;
    }

}



@media only screen and (max-width: 660px) {

/* Logo */
    .navbar-brand {
        padding: 15px 0 15px 15px;
    }

/*Slider > Top */ 
    .carousel-indicators li, .carousel-indicators li.active {
        width: 14px;
        height: 14px;
        margin: 0 5px 0 0;
    }

/*Slider Top*/
    .container.slider .persons {
        max-width: 450px;
    }

/*FOOTER*/    
    footer .player audio {
        width: 420px;
    }

}



/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 590px) {

/*Home > Title Twiiter*/ 
    h1.page-header {
        margin: 10px 0 10px 0;
        font-size: 20px;
    }
    h1.page-header small {
        padding-left: 5px;
        font-size: 18px;
    }

/*Home > Grid Schedule*/
    .col.span_1_of_3 {
        width: 100%!important;
    }
    ul.schedule_list li.col.span_1_of_3:nth-child(2n+0) {
        margin-left: 0;
    }

/*Section Twitter*/ 
    .owl-controls {
        position: relative!important;
    }
    .owl-prev {
        left: 0!important;
    }
    .owl-next {
        right: 0!important;
    }


/*FOOTER*/   
    footer .player {
        float: none;
    }
    footer .player audio {
        width: 440px;
        display: block;
        margin: 15px auto
    }
    footer .logo, footer .btn_tw {
        display: none;
    }

}




@media only screen and (max-width: 490px) {

/*FOOTER*/    
    footer .player audio {
        width: 390px;
    }

}




@media only screen and (max-width: 430px) {
/*Section News*/
    .carousel.news .carousel-inner {
        height: 455px;
    }
    h3.nsBottom_title {
        font-size: 13px;
        line-height: 16px
    }
    a.nSmall_type {
        margin: 10px 0 0 0;
    }
    .news-block {
        margin-bottom: 15px;
    }


/*** / SCHEDULE / ****/
    .txt h3 {
        font-size: 24px;
    }


/*FOOTER*/    
    footer .player audio {
        width: 350px;
    }



}



@media only screen and (max-width: 380px) { 

/*FOOTER*/    
    footer .player audio {
        width: 320px;
    }
}


@media only screen and (max-width: 360px) { 

/*FOOTER*/    
    footer .player audio {
        width: 290px;
    }
}